<div class='jumbotron'>
    <h1 class='text-center'>{{foto.titulo}}</h1>
</div>
<div class='container'>
    <div class='col-md-6'>
        <form  [formGroup]='meuForm' class='row' (submit)="cadastrar($event)">
            <div>
                    <label>Titulo</label>
                    <input
                    formControlName="titulo"
                    [(ngModel)]='foto.titulo' 
                    class='form-control' 
                    name='titulo' 
                    placeholder="Digite o titulo da foto">
                    <span *ngIf="meuForm.controls.titulo.invalid" class='form-control alert-danger'>
                        Titulo obrigatório.
                    </span>
            </div>
            <div>
                    <label>URL</label>
                    <input
                    formControlName="url"
                    [(ngModel)]='foto.url' 
                    class='form-control' 
                    name='url' 
                    placeholder="Digite a url da foto">
                    <span *ngIf="meuForm.controls.url.invalid" class='form-control alert-danger'>
                        URL obrigatória.
                    </span>
            </div>
            <div>
                    <label>Descrição</label>
                    <textarea
                    formControlName="descricao" 
                    [(ngModel)]='foto.descricao' 
                    class='form-control' 
                    name='descricao'>

                    </textarea>
            </div>
            <br>
            <button class='btn btn-primary' type="submit" [disabled]='meuForm.invalid'>
                Salvar!
            </button>
            <a class='btn btn-primary' [routerLink]="['']">
                Voltar
            </a>
        </form>
    </div>
    <div class='col-md-6'>
        <foto url={{foto.url}} titulo={{foto.titulo}}></foto>
    </div>
</div>