<div class='jumtrom'>
        <h1 class='text-center'>Pics!</h1>
    </div>
    <div class='container'>
        <div class='row'>
            <div class = 'col-md-12'>
                <span class='input-group'>
                    <a class='input-grou-btn' [routerLink] ="['/cadastro']" class='btn btn-danger'>
                        Adicionar Foto
                    </a>
                </span> 
            </div>
        </div>
        <panel *ngFor='let foto of fotos' titulo={{foto.titulo}}>
            <foto  url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </panel>
    </div>
    
    
    